@charset "UTF-8";


:root {
    --cor0: #c5ebd6;
    --cor1: #83e1ad;
    --cor2: #3ddc84;
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --cor5: #063d1e;

    --font-padrao: Arial, Verdana, Helvetica, sans-serif;

}



body {
    background-color: var(--cor0);
    font-family: var(--font-padrao);
}

header {
    background: var(--cor4);

}

header>h1 {
    text-align: center;
    color: aliceblue;
}

header>p {
    color: aliceblue;
    text-align: center;
}

nav {
    background-color: var(--cor5);
    text-align: center;
}

main {
    background-color: white;
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    margin: auto;
    margin-bottom:30px ;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.384);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    
}

img {
    width: 100%;
}

main h1 {
    color: #0b0c0c;
}

main img {
    width: 100%;

}

main img.pequena {
    width: 50%;
    margin: auto;
    display: block;
}

footer {
    background-color: var(--cor5);
    color: white;
}
nav > a {
    color: white;
}